<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496310270602-drq4ih2lsgj8ufvkq9i33tmndtvdrqk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496310270602-drq4ih2lsgj8ufvkq9i33tmndtvdrqk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCt5_sg01nuzMuuz6hXW_pjs7QBH7Wzp6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>496310270602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttermeet</string>
	<key>PROJECT_ID</key>
	<string>retailhub-ea728</string>
	<key>STORAGE_BUCKET</key>
	<string>retailhub-ea728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496310270602:ios:87b39a6f351b14d9a60b73</string>
</dict>
</plist>